---
import AppLayout from '../layouts/AppLayout.astro';
import { COMPANY, ADDRESSLINE1, ADDRESSLINE2, EMAIL1, PHONE1, PHONE2  } from '../consts';
const pageTitle = 'Home';
---

<AppLayout title={pageTitle}>
	<div id="pxl-main" class="pxl-main">
		<div class="elementor-container pxl-page-content pxl-content-container">
			<div class="row pxl-content-wrap no-sidebar">
				<div id="pxl-content-area" class="pxl-content-area content-page col-12">
					<main id="pxl-content-main" class="pxl-content-main">
						<article id="post-229" class="post-229 page type-page status-publish hentry">
							<div class="pxl-entry-content clearfix">
								<div data-elementor-type="wp-page" data-elementor-id="229" class="elementor elementor-229">

									<!-- Slideshow -->
									<section class="elementor-section elementor-top-section elementor-element elementor-element-3862f0a elementor-section-full_width pxl-section-overflow-hidden-yes elementor-section-height-min-height elementor-section-height-default elementor-section-items-middle pxl-section-offset-none pxl-section-static-pos-no pxl-container-margin-auto-no" data-id="3862f0a" data-element_type="section" data-settings='{"background_background":"classic"}' >
										<div class="elementor-background-overlay"></div>
										<div class="elementor-container elementor-column-gap-no">
											<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-dfa364c col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no" data-id="dfa364c" data-element_type="column" >
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-35e5c89 pxl-swiper-arrows-true pxl-swiper-dots-false pxl-swiper-dots-primary elementor-widget elementor-widget-pxl_slider" data-id="35e5c89" data-element_type="widget" data-settings='{"arrow_prev_position":"absolute","arrow_next_position":"absolute"}' data-widget_type="pxl_slider.default" >
														<div class="elementor-widget-container">
															<div class="pxl-sliders-wrap effect-fade split-text-off-scroll animation-off-scroll">
																<div class="pxl-swiper-loader">
																	<div class="pxl-swiper-loader-inner five-dots">
																		<span class="dot"></span><span class="dot"></span><span class="dot"></span><span class="dot"></span><span class="dot"></span>
																	</div>
																</div>
																<div class="pxl-slider-container" dir="ltr" data-settings='{"slide_direction":"horizontal","slide_percolumn":1,"slide_percolumnfill":1,"slide_mode":"fade","slides_to_show":1,"slides_to_scroll":1,"slides_gutter":0,"dots_style":"bullets","dots_style_custom":"","autoplay":false,"pause_on_hover":false,"pause_on_interaction":true,"delay":5000,"loop":true,"speed":500,"center_mode":false,"split_text_on_scroll":false,"animation_on_scroll":false}' >
																	<div class="pxl-slider-wrapper swiper-wrapper" data-count="2">
																		<div class="pxl-slider-item swiper-slide">
																			<div data-elementor-type="wp-post" data-elementor-id="6589" class="elementor elementor-6589">
																				<section class="elementor-section elementor-top-section elementor-element elementor-element-2d732d2 elementor-section-full_width elementor-section-height-min-height elementor-section-content-middle pxl-section-ken-burns pxl-ken-burns--in-out elementor-section-height-default elementor-section-items-middle pxl-section-offset-none pxl-section-static-pos-no pxl-container-margin-auto-no" data-id="2d732d2" data-element_type="section" >
																					<div class="pxl-section-bg-ken-burns"></div>
																					<div class="elementor-background-overlay"></div>
																					<div class="elementor-container elementor-column-gap-no">
																						<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-08a918a col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no" data-id="08a918a" data-element_type="column" >
																							<div class="elementor-widget-wrap elementor-element-populated">
																								<div class="elementor-element elementor-element-01141cc elementor-align-center elementor-widget elementor-widget-pxl_button" data-id="01141cc" data-element_type="widget" data-widget_type="pxl_button.default" >
																									<div class="elementor-widget-container">
																										<div id="pxl_button-01141cc-8303" class="pxl-button-wrapper d-flex-wrap pxl-button-layout1 pxl-animate pxl-invisible animated-normal" data-settings='{"animation":"fadeInUp","animation_delay":100}' >
																											<a href="index.html" class="link-more link icon-ps-right underline-true underline_style-1">
																												<span class="pxl-button-text">{COMPANY}</span>
																											</a>
																										</div>
																									</div>
																								</div>
																								<div class="elementor-element elementor-element-c92aff2 pxl-parallax-effect mouse-move bound-section elementor-widget elementor-widget-pxl_heading" data-id="c92aff2" data-element_type="widget" data-widget_type="pxl_heading.default" >
																									<div class="elementor-widget-container">
																										<div class="pxl-heading-wrap d-flex">
																											<div class="pxl-heading-inner center">
																												<h2 class="heading-title pxl-split-text split-lines-rotation-x">Exclusive hospitality. Maximum delight. </h2>
																											</div>
																										</div>
																									</div>
																								</div>
																								<div class="elementor-element elementor-element-f3d16ff elementor-widget elementor-widget-pxl_text_editor" data-id="f3d16ff" data-element_type="widget" data-widget_type="pxl_text_editor.default" >
																									<div class="elementor-widget-container">
																										<div id="pxl_text_editor-f3d16ff-1086" class="pxl-text-editor-wrap d-flex">
																											<div class="pxl-text-editor elementor-clearfix pxl-split-text split-lines-transform">
																												<p>
																													Where every moment is an opportunity for discovery and delight, allowing you to reconnect with yourself and the natural world around you. There is our reassurance.
																												</p>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</section>
																			</div>
																		</div>
																		<div class="pxl-slider-item swiper-slide">
																			<div data-elementor-type="wp-post" data-elementor-id="6694" class="elementor elementor-6694">
																				<section class="elementor-section elementor-top-section elementor-element elementor-element-7084aa2 elementor-section-full_width pxl-section-overflow-hidden-yes elementor-section-height-min-height elementor-section-content-middle elementor-section-height-default elementor-section-items-middle pxl-section-offset-none pxl-section-static-pos-no pxl-container-margin-auto-no" data-id="7084aa2" data-element_type="section" >
																					<div class="pxl-section-bg-parallax-outer"><div class="pxl-section-bg-parallax" data-parallax='{"y":-50}'></div></div>
																					<div class="elementor-background-overlay"></div>
																					<div class="elementor-container elementor-column-gap-no">
																						<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-231530e col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no" data-id="231530e" data-element_type="column" >
																							<div class="elementor-widget-wrap elementor-element-populated">
																								<div class="elementor-element elementor-element-388654d elementor-align-center elementor-invisible pxl-elementor-animate elementor-widget elementor-widget-pxl_button" data-id="388654d" data-element_type="widget" data-settings='{"_animation":"fadeInUp"}' data-widget_type="pxl_button.default" >
																									<div class="elementor-widget-container">
																										<div id="pxl_button-388654d-7047" class="pxl-button-wrapper d-flex-wrap pxl-button-layout1">
																											<a href="index.html" class="link-more link icon-ps-right underline-true underline_style-1">
																												<span class="pxl-button-text">The finest Guest House at the best price</span>
																											</a>
																										</div>
																									</div>
																								</div>
																								<div class="elementor-element elementor-element-2cda246 pxl-parallax-effect mouse-move bound-section elementor-widget elementor-widget-pxl_heading" data-id="2cda246" data-element_type="widget" data-widget_type="pxl_heading.default" >
																									<div class="elementor-widget-container">
																										<div class="pxl-heading-wrap d-flex">
																											<div class="pxl-heading-inner center"><h2 class="heading-title pxl-split-text split-words-scale">We Strive Only for the Best!</h2></div>
																										</div>
																									</div>
																								</div>
																								<div class="elementor-element elementor-element-88a6733 elementor-widget elementor-widget-pxl_text_editor" data-id="88a6733" data-element_type="widget" data-widget_type="pxl_text_editor.default" >
																									<div class="elementor-widget-container">
																										<div id="pxl_text_editor-88a6733-3095" class="pxl-text-editor-wrap d-flex">
																											<div class="pxl-text-editor elementor-clearfix pxl-split-text split-lines-transform">
																												<p>
																													Where every moment is an opportunity for discovery and delight, allowing you to reconnect with yourself and the natural world around you. There is our reassurance.
																												</p>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</section>
																			</div>
																		</div>
																	</div>
																	<div class="pxl-slider-arrow-wrap pos-relative style-icon layout-df separate arrow-on-hover" data-settings="">
																		<div class="pxl-slider-arrow pxl-slider-arrow-prev"><span aria-hidden="true" class="pxl-icon pxli pxli-left-arrow"></span></div>
																		<div class="pxl-slider-arrow pxl-slider-arrow-next"><span aria-hidden="true" class="pxl-icon pxli pxli-right-arrow"></span></div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>


									<!-- Reservation -->
									<section class="elementor-section elementor-top-section elementor-element elementor-element-389f840 elementor-section-boxed elementor-section-height-default elementor-section-height-default pxl-section-static-pos-no pxl-section-overflow-hidden-no pxl-container-margin-auto-no elementor-invisible pxl-elementor-animate" data-id="389f840" data-element_type="section" data-settings='{"animation":"fadeInUp"}' >
										<div class="elementor-container elementor-column-gap-default">
											<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6411b19 col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no" data-id="6411b19" data-element_type="column" >
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-19d76af elementor-widget elementor-widget-pxl_room_check_available_form" data-id="19d76af" data-element_type="widget" data-widget_type="pxl_room_check_available_form.default" >
														<div class="elementor-widget-container">
															<div class="pxl-room-check-available-form-wg layout-2 light-mode">
																<form class="room-check-available-form submit" 
																	name="room-check-available-form" 
																	method="post" action="https://${WEBSITE}.com/check-availability/">
																	<div class="check-available-form-wrap relative border-bottom">
																		<div class="check-available-form-inner row gx-30 gx-xl-60">
																			<div class="form-field-row checkin-col col-12 col-sm-6 col-md-4 col-lg-auto">
																				<div class="field-wrap date-checkin-wrap relative">
																					<div class="field-title checkin-title">Check - In</div>
																					<input class="has-datepicker date-checkin" type="text" name="date_checkin" value="" /> <span aria-hidden="true" class="pxl-icon cmli cmli-calendar22"></span>
																				</div>
																			</div>
																			<div class="separate"></div>
																			<div class="form-field-row checkout-col col-12 col-sm-6 col-md-4 col-lg-auto">
																				<div class="field-wrap date-checkout-wrap relative">
																					<div class="field-title checkout-title">Check - Out</div>
																					<input class="has-datepicker date-checkout" type="text" name="date_checkout" value="" /> <span aria-hidden="true" class="pxl-icon cmli cmli-calendar22"></span>
																				</div>
																			</div>
																			<div class="separate"></div>
																			<div class="form-field-row guest-col col-6 col-sm-6 col-md-2 col-lg-auto">
																				<div class="field-wrap guest-wrap relative">
																					<div class="field-title adults-title">Adults</div>
																					<div class="input-number-inner">
																						<span class="input-number-button number-up"><span class="zmdi zmdi-chevron-up"></span></span>
																						<input type="number" class="input-text adults-number" name="adults_number" value="1" min="1" max="5" step="1" inputmode="numeric" autocomplete="off" />
																						<span class="input-number-button number-down"><span class="zmdi zmdi-chevron-down"></span></span>
																					</div>
																				</div>
																			</div>
																			<div class="separate"></div>
																			<div class="form-field-row children-col col-6 col-sm-6 col-md-2 col-lg-auto">
																				<div class="field-wrap children-wrap relative">
																					<div class="field-title children-title">Children</div>
																					<div class="input-number-inner">
																						<span class="input-number-button number-up"><span class="zmdi zmdi-chevron-up"></span></span>
																						<input type="number" class="input-text children-number" name="children_number" value="0" min="0" max="4" step="1" inputmode="numeric" autocomplete="off" />
																						<span class="input-number-button number-down"><span class="zmdi zmdi-chevron-down"></span></span>
																					</div>
																				</div>
																			</div>
																			<div class="form-action col-12 col-lg-auto">
																				<button class="pxl-btn btn-check-available w-100 pxl-split-text hover-split-text split-words-scale" type="submit">
																					<span class="btn-text">Check Availability</span> <span class="pxl-btn-spinner pxli-spinner"></span>
																				</button>
																			</div>
																		</div>
																	</div>
																</form>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>


									<!-- About intro-->
									<section class="elementor-section elementor-top-section elementor-element elementor-element-a2bf619 elementor-section-boxed elementor-section-height-default elementor-section-height-default pxl-section-static-pos-no pxl-section-overflow-hidden-no pxl-container-margin-auto-no" data-id="a2bf619" data-element_type="section" >
										<div class="elementor-container elementor-column-gap-default">
											<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4e9ed94 col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no" data-id="4e9ed94" data-element_type="column" >
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-3e6502f elementor-widget elementor-widget-pxl_heading" data-id="3e6502f" data-element_type="widget" data-widget_type="pxl_heading.default">
														<div class="elementor-widget-container">
															<div class="pxl-heading-wrap d-flex">
																<div class="pxl-heading-inner">
																	<div class="heading-subtitle divider-left">
																		<div class="subtitle-text pxl-split-text split-in-right">The best Guest House for you in Hundar</div>
																	</div>
																	<h2 class="heading-title pxl-animate pxl-invisible animated-normal" data-settings='{"animation":"fadeIn","animation_delay":300}'>
																		Located In The Heart of Village
																	</h2>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>

									<!-- About desc-->
									<section class="elementor-section elementor-top-section elementor-element elementor-element-a1d9dfd elementor-section-boxed elementor-section-height-default elementor-section-height-default pxl-section-static-pos-no pxl-section-overflow-hidden-no pxl-container-margin-auto-no"
									data-id="a1d9dfd" data-element_type="section">
										<div class="elementor-container elementor-column-gap-default ">
											<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-388b11e col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no" data-id="388b11e" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-b09f2ec pxl-elementor-animate elementor-widget elementor-widget-pxl_text_editor animated fadeIn" data-id="b09f2ec" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;_animation_delay&quot;:100}"
													data-widget_type="pxl_text_editor.default">
														<div class="elementor-widget-container">
															<div id="pxl_text_editor-b09f2ec-1389" class="pxl-text-editor-wrap d-flex ">
																<div class="pxl-text-editor elementor-clearfix">
																	<p>
																		Welcome to {COMPANY}, your serene retreat nestled amidst the majestic peaks of the Himalayas. At Lossar, we believe in crafting unforgettable experiences for our guests, blending comfort, hospitality, and the raw beauty of nature into every moment of your stay.
																	</p>

																	<p>
																		From the moment you arrive, you'll be enveloped in the warm embrace of our hospitality. Our cozy rooms are designed with your comfort in mind. Whether you're seeking adventure or relaxation, our team is here to cater to your every need, ensuring that your stay with us is nothing short of perfect.
																	</p>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-element elementor-element-006e464 pxl-elementor-animate elementor-widget elementor-widget-pxl_button animated fadeIn" data-id="006e464" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;_animation_delay&quot;:200}"
													data-widget_type="pxl_button.default">
														<div class="elementor-widget-container">
															<div id="pxl_button-006e464-9291" class="pxl-button-wrapper d-flex-wrap pxl-button-layout1">
																<a href="https://demo.7iquid.com/carmelina/about-us-2/" class="pxl-btn default icon-ps-right"> <span class="pxl-button-text">discovery more</span> </a>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-37bd6d0 col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no" data-id="37bd6d0" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-03fb3a6 pxl-elementor-animate elementor-widget elementor-widget-pxl_text_editor animated fadeIn" data-id="03fb3a6" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;_animation_delay&quot;:0}"
													data-widget_type="pxl_text_editor.default">
														<div class="elementor-widget-container">
															<div id="pxl_text_editor-03fb3a6-8226" class="pxl-text-editor-wrap d-flex ">
																<div class="pxl-text-editor elementor-clearfix">
																	<p>“ Lossar Guest House is more than just a place to rest your head; it's a testament to our passion for hospitality and our deep connection to this breathtaking Himalayan region. Founded by a team of local enthusiasts with a shared love for the mountains and a desire to share their culture with the world, Lossar Guest House was born from the dream of offering travelers a genuine taste of Himalayan life. ”</p>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-element elementor-element-0f1b6c7 pxl-elementor-animate elementor-widget elementor-widget-pxl_image animated fadeIn" data-id="0f1b6c7" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;_animation_delay&quot;:100}"
													data-widget_type="pxl_image.default">
														<div class="elementor-widget-container">
															<div id="pxl_image-0f1b6c7-8268" class="pxl-image-wg default"> <img decoding="async" width="512" height="211" src="/images/signature.png" class="attachment-full size-full wp-image-2484" alt=""> </div>
														</div>
													</div>
													<div class="elementor-element elementor-element-a13e4d5 pxl-elementor-animate elementor-widget elementor-widget-pxl_text_editor animated fadeIn" data-id="a13e4d5" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeIn&quot;,&quot;_animation_delay&quot;:200}"
													data-widget_type="pxl_text_editor.default">
														<div class="elementor-widget-container">
															<div id="pxl_text_editor-a13e4d5-2809" class="pxl-text-editor-wrap d-flex ">
																<div class="pxl-text-editor elementor-clearfix"> <span class="text-heading fw-500">Jigmet Targias –</span><i> {COMPANY}</i> </div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>


									<!-- paralax zz-->
									<section class="elementor-section elementor-top-section elementor-element elementor-element-1b15708 elementor-section-boxed elementor-section-height-default elementor-section-height-default pxl-section-static-pos-no pxl-section-overflow-hidden-no pxl-container-margin-auto-no"
										data-id="1b15708" data-element_type="section">
										<div class="elementor-container elementor-column-gap-default ">
											<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-2db46cd pxl-column-overflow-hidden-yes col-offset-none pxl-column-element-default pxl-pll-transform" data-id="2db46cd" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="pxl-column-bg-parallax-outer">
														<div class="pxl-column-bg-parallax" data-parallax="{&quot;y&quot;:-100}" style="transform:translate3d(0px, -74.529px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(0px, -74.529px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); "></div>
													</div>
													<div class="elementor-element elementor-element-45c3097 elementor-widget elementor-widget-spacer" data-id="45c3097" data-element_type="widget" data-widget_type="spacer.default">
														<div class="elementor-widget-container">
															<style>
																/*! elementor - v3.21.0 - 30-04-2024 */ .elementor-column .elementor-spacer-inner{height:var(--spacer-size)}.e-con{--container-widget-width:100%}.e-con-inner>.elementor-widget-spacer,.e-con>.elementor-widget-spacer{width:var(--container-widget-width,var(--spacer-size));--align-self:var(--container-widget-align-self,initial);--flex-shrink:0}.e-con-inner>.elementor-widget-spacer>.elementor-widget-container,.e-con>.elementor-widget-spacer>.elementor-widget-container{height:100%;width:100%}.e-con-inner>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer,.e-con>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer{height:100%}.e-con-inner>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer>.elementor-spacer-inner,.e-con>.elementor-widget-spacer>.elementor-widget-container>.elementor-spacer>.elementor-spacer-inner{height:var(--container-widget-height,var(--spacer-size))}.e-con-inner>.elementor-widget-spacer.elementor-widget-empty,.e-con>.elementor-widget-spacer.elementor-widget-empty{position:relative;min-height:22px;min-width:22px}.e-con-inner>.elementor-widget-spacer.elementor-widget-empty .elementor-widget-empty-icon,.e-con>.elementor-widget-spacer.elementor-widget-empty .elementor-widget-empty-icon{position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;padding:0;width:22px;height:22px}
															</style>
															<div class="elementor-spacer">
																<div class="elementor-spacer-inner"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-52a0e7a pxl-column-overflow-hidden-yes col-offset-none pxl-column-element-default pxl-pll-transform" data-id="52a0e7a" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="pxl-column-bg-parallax-outer">
														<div class="pxl-column-bg-parallax" data-parallax="{&quot;y&quot;:100}" style="transform:translate3d(0px, 68.357px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(0px, 68.357px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); "></div>
													</div>
													<div class="elementor-element elementor-element-adf2fb0 elementor-widget elementor-widget-spacer" data-id="adf2fb0" data-element_type="widget" data-widget_type="spacer.default">
														<div class="elementor-widget-container">
															<div class="elementor-spacer">
																<div class="elementor-spacer-inner"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-7211c3e pxl-column-overflow-hidden-yes col-offset-none pxl-column-element-default pxl-pll-transform" data-id="7211c3e" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="pxl-column-bg-parallax-outer">
														<div class="pxl-column-bg-parallax" data-parallax="{&quot;y&quot;:-100}" style="transform:translate3d(0px, -74.529px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(0px, -74.529px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1); "></div>
													</div>
													<div class="elementor-element elementor-element-1ee7639 elementor-widget elementor-widget-spacer" data-id="1ee7639" data-element_type="widget" data-widget_type="spacer.default">
														<div class="elementor-widget-container">
															<div class="elementor-spacer">
																<div class="elementor-spacer-inner"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>

									<!-- Rooms -->
									<section
										class="elementor-section elementor-top-section elementor-element elementor-element-54f6ae2 elementor-section-full_width elementor-section-height-default elementor-section-height-default pxl-section-offset-none pxl-section-static-pos-no pxl-section-overflow-hidden-no pxl-container-margin-auto-no"
										data-id="54f6ae2"
										data-element_type="section"
										data-settings='{"background_background":"classic"}'
									>
										<div class="pxl-section-bg-parallax-outer"><div class="pxl-section-bg-parallax" data-parallax='{"x":80}'></div></div>
										<div class="elementor-container elementor-column-gap-no">
											<div
												class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-610c233 col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no"
												data-id="610c233"
												data-element_type="column"
											>
												<div class="elementor-widget-wrap elementor-element-populated">
													<section
														class="elementor-section elementor-inner-section elementor-element elementor-element-3d3abe0 elementor-section-boxed elementor-section-height-default elementor-section-height-default pxl-section-static-pos-no pxl-section-overflow-hidden-no pxl-container-margin-auto-no"
														data-id="3d3abe0"
														data-element_type="section"
													>
														<div class="elementor-container elementor-column-gap-default">
															<div
																class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-f85dcab col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no"
																data-id="f85dcab"
																data-element_type="column"
															>
																<div class="elementor-widget-wrap elementor-element-populated">
																	<div
																		class="elementor-element elementor-element-203e1c2 elementor-widget elementor-widget-pxl_heading"
																		data-id="203e1c2"
																		data-element_type="widget"
																		data-widget_type="pxl_heading.default"
																	>
																		<div class="elementor-widget-container">
																			<div class="pxl-heading-wrap d-flex">
																				<div class="pxl-heading-inner">
																					<div class="heading-subtitle divider-left"><div class="subtitle-text pxl-split-text split-in-right">our rooms</div></div>
																					<h2 class="heading-title pxl-animate pxl-invisible animated-normal" data-settings='{"animation":"fadeIn","animation_delay":300}'>
																						Nice and Comfortable Space
																					</h2>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div
																class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5f6d729 col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no"
																data-id="5f6d729"
																data-element_type="column"
															>
																<div class="elementor-widget-wrap elementor-element-populated">
																	<div
																		class="elementor-element elementor-element-d48c02d elementor-invisible pxl-elementor-animate elementor-widget elementor-widget-pxl_text_editor"
																		data-id="d48c02d"
																		data-element_type="widget"
																		data-settings='{"_animation":"fadeIn","_animation_delay":100}'
																		data-widget_type="pxl_text_editor.default"
																	>
																		<div class="elementor-widget-container">
																			<div id="pxl_text_editor-d48c02d-6345" class="pxl-text-editor-wrap d-flex">
																				<div class="pxl-text-editor elementor-clearfix">
																					<p>
																						Experience delight and comfort in our rooms, designed to provide you with a cozy ambiance, spacious accommodation and comfortable beds with premium bedding.
																					</p>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div
																		class="elementor-element elementor-element-9a48768 elementor-align-end elementor-widget elementor-widget-pxl_button"
																		data-id="9a48768"
																		data-element_type="widget"
																		data-widget_type="pxl_button.default"
																	>
																		<div class="elementor-widget-container">
																			<div id="pxl_button-9a48768-7434" class="pxl-button-wrapper d-flex-wrap pxl-button-layout1">
																				<a href="/single-room" class="link-more link icon-ps-right underline-true underline_style-1"> <span class="pxl-button-text">view all rooms</span> </a>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</section>
													<div
														class="elementor-element elementor-element-3aa5100 post-layout-room-1 pxl-swiper-dots-tablet-true pxl-swiper-dots-true pxl-swiper-dots-bullets-number pxl-swiper-arrows-false elementor-widget elementor-widget-pxl_post_carousel"
														data-id="3aa5100"
														data-element_type="widget"
														data-widget_type="pxl_post_carousel.default"
													>
														<div class="elementor-widget-container">
															<div class="pxl-swiper-slider pxl-post-carousel layout-room-1 relative center-mode-1">
																<div class="pxl-swiper-loader">
																	<div class="pxl-swiper-loader-inner five-dots">
																		<span class="dot"></span><span class="dot"></span><span class="dot"></span><span class="dot"></span><span class="dot"></span>
																	</div>
																</div>
																<div class="pxl-swiper-slider-wrap pxl-carousel-inner overflow-hidden">
																	<div
																		class="pxl-swiper-container"
																		dir="ltr"
																		data-settings='{"slide_direction":"horizontal","slide_percolumn":1,"slide_mode":"slide","slides_to_show_xxl":1.6100000000000000976996261670137755572795867919921875,"slides_to_show":1.6100000000000000976996261670137755572795867919921875,"slides_to_show_lg":1.399999999999999911182158029987476766109466552734375,"slides_to_show_md":1.1999999999999999555910790149937383830547332763671875,"slides_to_show_sm":1.1999999999999999555910790149937383830547332763671875,"slides_to_show_xs":1,"slides_to_scroll":1,"slides_gutter":40,"slides_gutter_lg":30,"center_slide":true,"dots_style":"bullets-number","autoplay":false,"pause_on_hover":false,"pause_on_interaction":true,"delay":5000,"loop":true,"speed":500}'
																	>
																		<div class="pxl-swiper-wrapper swiper-wrapper">
																			<div class="pxl-swiper-slide swiper-slide">
																				<div class="item-inner-wrap relative">
																					<div class="item-featured relative scale-hover overflow-hidden">
																						<img
																							decoding="async"
																							class="no-lazyload"
																							src="images/home/single-room-1.webp"
																							width="1170"
																							height="620"
																							alt="standard-room"
																							title="standard-room"
																						/>
																						<div class="pxl-overlay"></div>
																					</div>
																					<div class="item-content">
																						<div class="item-content-inner relative">
																							<div class="room-price-wrap absolute"><span class="room-price">From</span> 2000/-</div>
																							<div class="item-title-info row gy-10 align-items-center">
																								<div class="col-12 col-xxl">
																									<h4 class="item-title"><a href="phb_room_type/standard-room/index.html">Standard Room</a></h4>
																								</div>
																								<div class="room-metas d-flex-wrap gx-30 col-12 col-md col-xxl-auto">
																									<div class="meta-item size d-flex align-items-center">
																										<span aria-hidden="true" class="pxl-icon cmli cmli-noun-blueprint"></span>
																										<span>
																											156 <span>ft<sup>2</sup></span>
																										</span>
																									</div>
																									<div class="meta-item bed d-flex align-items-center">
																										<span aria-hidden="true" class="pxl-icon cmli cmli-noun-bed-1"></span> <span>2 Beds</span>
																									</div>
																									<div class="meta-item guest d-flex align-items-center">
																										<span aria-hidden="true" class="pxl-icon cmli cmli-user"></span> <span>3 Guests max</span>
																									</div>
																								</div>
																								<div class="item-readmore d-none d-lg-flex col-auto">
																									<a href="/single-room" class="pxl-btn btn-outline-light"> <span class="pxl-button-text">Room Details</span> </a>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="pxl-swiper-slide swiper-slide">
																				<div class="item-inner-wrap relative">
																					<div class="item-featured relative scale-hover overflow-hidden">
																						<img
																							loading="lazy"
																							decoding="async"
																							class="no-lazyload"
																							src="images/home/double-room-1.webp"
																							width="1170"
																							height="620"
																							alt="deluxe-double-room"
																							title="deluxe-double-room"
																						/>
																						<div class="pxl-overlay"></div>
																					</div>
																					<div class="item-content">
																						<div class="item-content-inner relative">
																							<div class="room-price-wrap absolute"><span class="room-price">From</span> 3500/-</div>
																							<div class="item-title-info row gy-10 align-items-center">
																								<div class="col-12 col-xxl">
																									<h4 class="item-title"><a href="/double-room">Deluxe Double Room</a></h4>
																								</div>
																								<div class="room-metas d-flex-wrap gx-30 col-12 col-md col-xxl-auto">
																									<div class="meta-item size d-flex align-items-center">
																										<span aria-hidden="true" class="pxl-icon cmli cmli-noun-blueprint"></span>
																										<span>
																											200 <span>ft<sup>2</sup></span>
																										</span>
																									</div>
																									<div class="meta-item bed d-flex align-items-center">
																										<span aria-hidden="true" class="pxl-icon cmli cmli-noun-bed-1"></span> <span>2 Beds</span>
																									</div>
																									<div class="meta-item guest d-flex align-items-center">
																										<span aria-hidden="true" class="pxl-icon cmli cmli-user"></span> <span>4 Guests max</span>
																									</div>
																								</div>
																								<div class="item-readmore d-none d-lg-flex col-auto">
																									<a href="/double-room" class="pxl-btn btn-outline-light"> <span class="pxl-button-text">Room Details</span> </a>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="pxl-swiper-dots style-bullets-number"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>

									<!-- Services -->

									<!-- more Services -->
									
									


									<!-- Nearby Places -->
									<section class="elementor-section elementor-top-section elementor-element elementor-element-27826c6 clip-path-3 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default pxl-section-static-pos-no pxl-section-overflow-hidden-no pxl-container-margin-auto-no" data-id="27826c6" data-element_type="section" data-settings='{"background_background":"classic"}' >
										<div class="elementor-container elementor-column-gap-default">
											<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-38f0ad7 col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no" data-id="38f0ad7" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-41c2d3d elementor-widget elementor-widget-pxl_heading" data-id="41c2d3d" data-element_type="widget" data-widget_type="pxl_heading.default">
														<div class="elementor-widget-container">
															<div class="pxl-heading-wrap d-flex">
																<div class="pxl-heading-inner">
																	<div class="heading-subtitle divider-left">
																		<div class="subtitle-text pxl-split-text split-in-right" style="perspective: 400px;">
																			<div class="split-line" style="display: block; text-align: start; position: relative;">
																				<div style="position: relative; display: inline-block;">
																					<div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">N</div>
																					<div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">e</div>
																					<div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">a</div>
																					<div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">r</div>
																					<div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">b</div>
																					<div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">y</div>
																				</div>
																				<div style="position: relative; display: inline-block;">
																					<div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">P</div>
																					<div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">l</div>
																					<div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">a</div>
																					<div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">c</div>
																					<div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">e</div>
																					<div style="position: relative; display: inline-block; translate: none; rotate: none; scale: none; transform: translate(0px, 0px); opacity: 1;">s</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<h2 class="heading-title">
																		Explore &amp; Experience Places Nearby Places
																	</h2>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-element elementor-element-68d9a13 elementor-widget-tablet__width-initial elementor-widget-mobile_extra__width-inherit elementor-widget elementor-widget-pxl_text_editor" data-id="68d9a13" data-element_type="widget" data-widget_type="pxl_text_editor.default" >
														<div class="elementor-widget-container">
															<div id="pxl_text_editor-68d9a13-2965" class="pxl-text-editor-wrap d-flex">
																<div class="pxl-text-editor elementor-clearfix">
																	<p>
																		Nubra Valley is a paradise for nature lovers and adventure enthusiasts. During your stay at Lossar Guest House, explore the following nearby attractions:
																	</p>
																</div>
															</div>
														</div>
													</div>

													<section class="elementor-section elementor-inner-section elementor-element elementor-element-8071f81 elementor-section-boxed elementor-section-height-default elementor-section-height-default pxl-section-static-pos-no pxl-section-overflow-hidden-no pxl-container-margin-auto-no" data-id="8071f81" data-element_type="section" >
														<div class="elementor-container elementor-column-gap-default">

															<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4241844 col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no" data-id="4241844" data-element_type="column" >
																<div class="elementor-widget-wrap elementor-element-populated">
																	<div class="elementor-element elementor-element-93fcedf elementor-widget elementor-widget-pxl_list_style" data-id="93fcedf" data-element_type="widget" data-widget_type="pxl_list_style.default">
																		<div class="elementor-widget-container">
																			<div class="pxl-list-style bullet d-flex-wrap flex-column">
																				<div class="list-item d-flex pxl-animate animated-normal animated fadeInUp" data-settings='{"animation":"fadeInUp","animation_delay":100}'>
																					<div class="list-content">
																						<h3>Hundar Sand Dunes</h3>
																						<p>
																							Experience the unique desert landscape and enjoy a camel safari amidst the sand dunes.
																						</p>
																					</div>
																				</div>
																				<div class="list-item d-flex pxl-animate animated-normal animated fadeInUp" data-settings='{"animation":"fadeInUp","animation_delay":200}'>
																					<div class="list-content">
																						<h3>Diskit Monastery</h3>
																						<p>
																							Visit the ancient monastery perched atop a hill and marvel at its intricate architecture.
																						</p>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</section>

													<div class="elementor-element elementor-element-384afb3 elementor-widget elementor-widget-pxl_button" data-id="384afb3" data-element_type="widget" data-widget_type="pxl_button.default">
														<div class="elementor-widget-container">
															<div id="pxl_button-384afb3-3283" class="pxl-button-wrapper d-flex-wrap pxl-button-layout1">
																<a href="https://demo.7iquid.com/carmelina/explore-activities/" class="pxl-btn default icon-ps-right">
																	<span class="pxl-button-text">discovery tour</span>
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-d72d366 col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no" data-id="d72d366" data-element_type="column">
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-cd62554 elementor-hidden-tablet elementor-widget elementor-widget-pxl_image" data-id="cd62554" data-element_type="widget" data-widget_type="pxl_image.default">
														<div class="elementor-widget-container">
															<div id="pxl_image-cd62554-8925" class="pxl-image-wg pxl-skew-in-right default pxl-bg-parallax pxl-pll-transform pxl-animated">
																<img
																	loading="lazy"
																	decoding="async"
																	width="754"
																	height="703"
																	src="/images/home/home-adventure.webp"
																	class="attachment-full size-full wp-image-7782"
																	alt="{COMPANY}"
																/>
																<div
																	class="parallax-inner"
																	data-parallax='{"x":-50}'
																	style="
																		transform: translate3d(-29.955px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
																		-webkit-transform: translate3d(-29.955px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1) scaleZ(1);
																		--pxl-image-bg-parallax-inner: url(/images/home/home-adventure.webp);
																	"
																></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>



									<!-- Testimonials -->
									<section class="elementor-section elementor-top-section elementor-element elementor-element-a11a8e2 elementor-section-boxed elementor-section-height-default elementor-section-height-default pxl-section-static-pos-no pxl-section-overflow-hidden-no pxl-container-margin-auto-no" data-id="a11a8e2" data-element_type="section" >
										<div class="elementor-container elementor-column-gap-default">
											<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-160ed0c col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no" data-id="160ed0c" data-element_type="column" >
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-db7c1cd pxl-testimonial-carousel-layout-2 pxl-swiper-dots-true pxl-swiper-arrows-false pxl-swiper-dots-color-mode-df elementor-widget elementor-widget-pxl_testimonial_carousel" data-id="db7c1cd" data-element_type="widget" data-widget_type="pxl_testimonial_carousel.default" >
														<div class="elementor-widget-container">
															<div class="pxl-swiper-slider pxl-testimonial-carousel layout-2">
																<div class="text-center icon-quotes"><span aria-hidden="true" class="pxl-icon quote-icon pxli pxli-quote3"></span></div>
																<div class="pxl-swiper-slider-wrap pxl-carousel-inner overflow-hidden">
																	<div class="pxl-swiper-container" dir="ltr" data-settings='{"slide_direction":"horizontal","slide_percolumn":1,"slide_mode":"slide","slides_to_show_xxl":1,"slides_to_show":1,"slides_to_show_lg":1,"slides_to_show_md":1,"slides_to_show_sm":1,"slides_to_show_xs":1,"slides_to_scroll":1,"slides_gutter":0,"dots_style":"bullets","autoplay":false,"pause_on_hover":false,"pause_on_interaction":true,"delay":5000,"loop":false,"center_slide":false,"speed":500}' >
																		<div class="pxl-swiper-wrapper swiper-wrapper">
																			<div class="pxl-swiper-slide swiper-slide">
																				<div class="item-inner relative text-center">
																					<div class="item-content">
																						<h4 class="item-title">One of the best rooms I've ever stayed in</h4>
																						<div class="item-desc">
																							An absolute gem and a perfect choice in the heart of Nubra Valley! Lossar Guest House provided us with a serene retreat, impeccable service, and breathtaking views. A truly unforgettable experience! I cannot recommend Lossar Guest House enough, and can't wait to return!

																						</div>
																						<div class="item-star"><span style="width: 100%;"></span></div>
																						<div class="item-info"><span class="item-name">Sanjay Singh, </span> <span class="item-position">Delhi, India</span></div>
																					</div>
																				</div>
																			</div>
																			<div class="pxl-swiper-slide swiper-slide">
																				<div class="item-inner relative text-center">
																					<div class="item-content">
																						<h4 class="item-title">A truly magical vacation.</h4>
																						<div class="item-desc">
																							Staying at Lossar Guest House was like a dream come true. The peaceful ambiance, friendly staff, and stunning surroundings made our vacation truly magical. Thank you for an incredible stay which was nothing short of a perfection vacation. The cozy rooms, delicious meals, and personalized service made us feel right at home. We will cherish the memories forever!
																						</div>
																						<div class="item-star"><span style="width: 100%;"></span></div>
																						<div class="item-info"><span class="item-name">Chanderpal, </span> <span class="item-position">Gujurat, India</span></div>
																					</div>
																				</div>
																			</div>
																			<div class="pxl-swiper-slide swiper-slide">
																				<div class="item-inner relative text-center">
																					<div class="item-content">
																						<h4 class="item-title">Thank you, Lossar, for an incredible stay!</h4>
																						<div class="item-desc">
																							Thank you, Lossar Guest House, for an incredible stay! Our stay at here was a highlight of our trip to Ladakh. The beautiful surroundings, delicious food, and attentive service made our vacation truly special. We can't wait to return! We couldn't have asked for more! 
																						</div>
																						<div class="item-star"><span style="width: 100%;"></span></div>
																						<div class="item-info"><span class="item-name">Devinder Chadda, </span> <span class="item-position">Mumbai, India</span></div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="pxl-swiper-dots style-bullets"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>


									<!-- Video -->
									<section class="elementor-section elementor-top-section elementor-element elementor-element-2643b47 pxl-section-overflow-hidden-yes elementor-section-boxed elementor-section-height-default elementor-section-height-default pxl-section-static-pos-no pxl-container-margin-auto-no" data-id="2643b47" data-element_type="section" >
										<div class="pxl-section-bg-parallax-outer">
											<div class="pxl-section-bg-parallax" data-parallax='{"y":-120}'></div>
										</div>
										<div class="elementor-container elementor-column-gap-default">
											<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2fd265f col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no" data-id="2fd265f" data-element_type="column" >
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-c3e23cf pxl-video-layout-1 elementor-widget elementor-widget-pxl_video" data-id="c3e23cf" data-element_type="widget" data-widget_type="pxl_video.default" >
														<div class="elementor-widget-container">
															<div class="pxl-video-player relative btn-style-2 layout-1">
																<div class="pxl-video-lightbox" data-elementor-open-lightbox="yes" data-elementor-lightbox='{"type":"video","videoType":"youtube","url":"https:\/\/player.vimeo.com\/video\/185010109?loop=0&amp;controls=1&amp;mute=0&amp;rel=0&amp;modestbranding=0#t=","modalOptions":{"id":"pxl-lightbox-c3e23cf","entranceAnimation":"fadeInUp","entranceAnimation_tablet":"","entranceAnimation_mobile":"","videoAspectRatio":"169"}}' >
																	<div class="btn-video-wrap d-flex-wrap align-items-center">
																		<div class="pxl-video-btn text-center">
																			<span class="pxl-icon zmdi zmdi-play"></span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>


									<!-- Find Us -->
									<section class="elementor-section elementor-top-section elementor-element elementor-element-85eedd5 elementor-section-boxed elementor-section-height-default elementor-section-height-default pxl-section-static-pos-no pxl-section-overflow-hidden-no pxl-container-margin-auto-no" data-id="85eedd5" data-element_type="section" data-settings='{"background_background":"classic"}' >
										<div class="elementor-container elementor-column-gap-no">
											<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-035f4c2 col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no" data-id="035f4c2" data-element_type="column" >
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-ba29567 elementor-invisible pxl-elementor-animate elementor-widget elementor-widget-pxl_heading" data-id="ba29567" data-element_type="widget" data-settings='{"_animation":"fadeInUp"}' data-widget_type="pxl_heading.default" >
														<div class="elementor-widget-container">
															<div class="pxl-heading-wrap d-flex">
																<div class="pxl-heading-inner"><h2 class="heading-title">How To Find Us?</h2></div>
															</div>
														</div>
													</div>
													<div class="elementor-element elementor-element-1646ff5 elementor-invisible pxl-elementor-animate elementor-widget elementor-widget-pxl_text_editor" data-id="1646ff5" data-element_type="widget" data-settings='{"_animation":"fadeInUp"}' data-widget_type="pxl_text_editor.default" >
														<div class="elementor-widget-container">
															<div id="pxl_text_editor-1646ff5-7761" class="pxl-text-editor-wrap d-flex">
																<div class="pxl-text-editor elementor-clearfix">
																	<p>
																		The nearest airport to Lossar Guest House is Kushok Bakula Rimpochee Airport in Leh, Ladakh. From Leh, you can hire a taxi or opt for a pre-arranged shuttle service to Nubra Valley. The journey from Leh to Nubra Valley takes approximately 5-6 hours by road, passing through scenic mountain landscapes and high-altitude passes.
																	</p>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-element elementor-element-92c9587 elementor-invisible pxl-elementor-animate elementor-widget elementor-widget-pxl_text_editor" data-id="92c9587" data-element_type="widget" data-settings='{"_animation":"fadeInUp"}' data-widget_type="pxl_text_editor.default" >
														<div class="elementor-widget-container">
															<div id="pxl_text_editor-92c9587-4654" class="pxl-text-editor-wrap d-flex">
																<div class="pxl-text-editor elementor-clearfix"><p>{ADDRESSLINE1}</p></div>
															</div>
														</div>
													</div>
													<div class="elementor-element elementor-element-d318c0a elementor-invisible pxl-elementor-animate elementor-widget elementor-widget-pxl_text_editor" data-id="d318c0a" data-element_type="widget" data-settings='{"_animation":"fadeInUp"}' data-widget_type="pxl_text_editor.default" >
														<div class="elementor-widget-container">
															<div id="pxl_text_editor-d318c0a-7715" class="pxl-text-editor-wrap d-flex">
																<div class="pxl-text-editor elementor-clearfix"><p>{ADDRESSLINE2}</p></div>
															</div>
														</div>
													</div>
													<div class="elementor-element elementor-element-c0a1610 elementor-invisible pxl-elementor-animate elementor-widget elementor-widget-pxl_text_editor" data-id="c0a1610" data-element_type="widget" data-settings='{"_animation":"fadeInUp"}' data-widget_type="pxl_text_editor.default" >
														<div class="elementor-widget-container">
															<div id="pxl_text_editor-c0a1610-9097" class="pxl-text-editor-wrap d-flex">
																<div class="pxl-text-editor elementor-clearfix"><span class="fw-500">Email:</span> <a href=`mailto:${EMAIL1}`>{EMAIL1}</a></div>
															</div>
														</div>
													</div>
													<div class="elementor-element elementor-element-749368c elementor-invisible pxl-elementor-animate elementor-widget elementor-widget-pxl_text_editor" data-id="749368c" data-element_type="widget" data-settings='{"_animation":"fadeInUp"}' data-widget_type="pxl_text_editor.default" >
														<div class="elementor-widget-container">
															<div id="pxl_text_editor-749368c-9530" class="pxl-text-editor-wrap d-flex">
																<div class="pxl-text-editor elementor-clearfix"><p>Call Us For Reservation:</p></div>
															</div>
														</div>
													</div>
													<div class="elementor-element elementor-element-0a55557 elementor-invisible pxl-elementor-animate elementor-widget elementor-widget-pxl_heading" data-id="0a55557" data-element_type="widget" data-settings='{"_animation":"fadeInUp"}' data-widget_type="pxl_heading.default" >
														<div class="elementor-widget-container">
															<div class="pxl-heading-wrap d-flex">
																<div class="pxl-heading-inner">
																	<h3 class="heading-title"><a href="tel:3449564050">+{PHONE1}</a></h3>
																	<h3 class="heading-title"><a href="tel:3449564050">+{PHONE2}</a></h3>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-element elementor-element-3cf39a8 elementor-widget__width-auto elementor-invisible pxl-elementor-animate elementor-widget elementor-widget-pxl_button" data-id="3cf39a8" data-element_type="widget" data-settings='{"_animation":"zoomIn"}' data-widget_type="pxl_button.default" >
														<div class="elementor-widget-container">
															<div id="pxl_button-3cf39a8-3634" class="pxl-button-wrapper d-flex-wrap pxl-button-layout1">
																<a href="phb_room_type/standard-room/index.html" class="pxl-btn default icon-ps-right"> <span class="pxl-button-text">Book Room today</span> </a>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-2361502 col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no" data-id="2361502" data-element_type="column" >
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-0dd2282 elementor-widget elementor-widget-google_maps" data-id="0dd2282" data-element_type="widget" data-widget_type="google_maps.default">
														<div class="elementor-widget-container">
															<style>
																/*! elementor - v3.21.0 - 30-04-2024 */
																.elementor-widget-google_maps .elementor-widget-container {
																	overflow: hidden;
																}
																.elementor-widget-google_maps .elementor-custom-embed {
																	line-height: 0;
																}
																.elementor-widget-google_maps iframe {
																	/* height: 300px; */
																}
															</style>
															<div class="elementor-custom-embed">
																<iframe
																	loading="lazy"
																	src="https://maps.google.com/maps?q=16b%20Brook%20Dr%2C%20London%20SE11%204TT%2C%20V%C6%B0%C6%A1ng%20Qu%E1%BB%91c%20Anh&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=near"
																	title="16b Brook Dr, London SE11 4TT, Vương Quốc Anh"
																	aria-label="16b Brook Dr, London SE11 4TT, Vương Quốc Anh"
																></iframe>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>


									<section class="elementor-section elementor-top-section elementor-element elementor-element-4394eb7 elementor-section-content-middle pxl-section-overflow-hidden-yes elementor-section-boxed elementor-section-height-default elementor-section-height-default pxl-section-static-pos-no pxl-container-margin-auto-no" data-id="4394eb7" data-element_type="section" >
										<div class="pxl-section-bg-parallax-outer"><div class="pxl-section-bg-parallax" data-parallax='{"y":-100}'></div></div>
										<div class="elementor-background-overlay"></div>
										<div class="elementor-container elementor-column-gap-default">
											<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-6eac4f4 col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no" data-id="6eac4f4" data-element_type="column" >
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-9a504cf elementor-widget elementor-widget-pxl_heading" data-id="9a504cf" data-element_type="widget" data-widget_type="pxl_heading.default">
														<div class="elementor-widget-container">
															<div class="pxl-heading-wrap d-flex">
																<div class="pxl-heading-inner">
																	<h2 class="heading-title">
																		Sign up to receive <br />
																		our latest offers!
																	</h2>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-cdaf0f1 col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no" data-id="cdaf0f1" data-element_type="column" >
												<div class="elementor-widget-wrap elementor-element-populated">
													<div class="elementor-element elementor-element-bda1618 elementor-widget elementor-widget-pxl_text_editor" data-id="bda1618" data-element_type="widget" data-widget_type="pxl_text_editor.default" >
														<div class="elementor-widget-container">
															<div id="pxl_text_editor-bda1618-2377" class="pxl-text-editor-wrap d-flex">
																<div class="pxl-text-editor elementor-clearfix"><p>Hear about our latest offers by signing up to our mailing list.</p></div>
															</div>
														</div>
													</div>
													<div class="elementor-element elementor-element-832bf06 elementor-widget elementor-widget-pxl_mailchimp" data-id="832bf06" data-element_type="widget" data-widget_type="pxl_mailchimp.default">
														<div class="elementor-widget-container">
															<div class="pxl-mailchimp d-flex style-default">
																<div class="col">
																	

																	<!-- Mailchimp for WordPress v4.9.13 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
																	<form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-224" method="post" data-id="224" data-name="Newsletters">
																		<div class="mc4wp-form-fields">
																			<div class="mailchimp-form relative">
																				<label>Subscribe to receive the latest news from us</label> <input type="email" name="email" placeholder="Email Address..." required />
																				<button type="submit" class="pxl-btn"><span class="btn-text">Subsrcribe</span><span class="pxl-icon zmdi zmdi-long-arrow-right"></span></button>
																			</div>
																		</div>
																		<label style="display: none !important;">
																			Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" />
																		</label>
																		<input type="hidden" name="_mc4wp_timestamp" value="1716186822" /><input type="hidden" name="_mc4wp_form_id" value="224" />
																		<input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" />
																		<div class="mc4wp-response"></div>
																	</form>
																	<!-- / Mailchimp for WordPress Plugin -->
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
						</article>
					</main>
				</div>
			</div>
		</div>
	</div>
	
</AppLayout>

<script>
	alert('jjjjjjjjjjjjjjjjjjjj');
</script>