---
import { SITE_TITLE, SITE_DESCRIPTION, COMPANY, ADDRESSLINE1, ADDRESSLINE2, EMAIL1, EMAIL2, PHONE1, PHONE2, WEBSITE  } from '../consts';
const today = new Date();
---
<footer
        id="pxl-footer"
        class="pxl-footer footer-type-el footer-layout-7958"
      >
        <div
          data-elementor-type="wp-post"
          data-elementor-id="7958"
          class="elementor elementor-7958"
        >
          <section
            class="elementor-section elementor-top-section elementor-element elementor-element-790afb8 elementor-section-boxed elementor-section-height-default elementor-section-height-default pxl-section-static-pos-no pxl-section-overflow-hidden-no pxl-container-margin-auto-no"
            data-id="790afb8"
            data-element_type="section"
            data-settings='{"background_background":"classic"}'
          >
            <div class="elementor-container elementor-column-gap-default">
              <div
                class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-b23f317 col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no"
                data-id="b23f317"
                data-element_type="column"
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-992c554 elementor-widget elementor-widget-pxl_logo"
                    data-id="992c554"
                    data-element_type="widget"
                    data-widget_type="pxl_logo.default"
                  >
                    <div class="elementor-widget-container">
                      <div class="pxl-logo d-flex-wrap align-items-center">
                        <a href="index.html"
                          ><img
                            src="images/logo.webp"
                            alt=`${COMPANY}`
                        /></a>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-3052ba6 elementor-widget elementor-widget-pxl_text_editor"
                    data-id="3052ba6"
                    data-element_type="widget"
                    data-widget_type="pxl_text_editor.default"
                  >
                    <div class="elementor-widget-container">
                      <div
                        id="pxl_text_editor-3052ba6-4048"
                        class="pxl-text-editor-wrap d-flex"
                      >
                        <div class="pxl-text-editor elementor-clearfix">
                          <p>
                            Welcome to {COMPANY}, where comfort is everything.
                            Beautiful room presentations, straightforward
                            booking &amp; reservation options, &amp; a whole lot
                            more awaits here.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <section
                    class="elementor-section elementor-inner-section elementor-element elementor-element-2fb5af3 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default pxl-section-static-pos-no pxl-section-overflow-hidden-no pxl-container-margin-auto-no"
                    data-id="2fb5af3"
                    data-element_type="section"
                  >
                    <div
                      class="elementor-container elementor-column-gap-default"
                    >
                      <div
                        class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-d56e9ff pxl-column-element-auto col-offset-none pxl-column-overflow-hidden-no"
                        data-id="d56e9ff"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-widget-wrap elementor-element-populated"
                        >
                          <div
                            class="elementor-element elementor-element-d8a7d4b elementor-widget__width-auto elementor-widget elementor-widget-pxl_image"
                            data-id="d8a7d4b"
                            data-element_type="widget"
                            data-widget_type="pxl_image.default"
                          >
                            <div class="elementor-widget-container">
                              <div
                                id="pxl_image-d8a7d4b-2770"
                                class="pxl-image-wg default"
                              >
                                <a href="index.html">
                                  <img
                                    width="458"
                                    height="567"
                                    src="wp-content/uploads/2024/03/awards-1.svg"
                                    class="attachment-full size-full wp-image-7967"
                                    alt="hotel awards"
                                  />
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-94c865f pxl-column-element-auto col-offset-none pxl-column-overflow-hidden-no"
                        data-id="94c865f"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-widget-wrap elementor-element-populated"
                        >
                          <div
                            class="elementor-element elementor-element-6ad7f79 elementor-widget__width-auto elementor-widget elementor-widget-pxl_image"
                            data-id="6ad7f79"
                            data-element_type="widget"
                            data-widget_type="pxl_image.default"
                          >
                            <div class="elementor-widget-container">
                              <div
                                id="pxl_image-6ad7f79-8838"
                                class="pxl-image-wg default"
                              >
                                <a href="index.html">
                                  <img
                                    width="72"
                                    height="68"
                                    src="wp-content/uploads/2024/03/awards-2.svg"
                                    class="attachment-full size-full wp-image-7971"
                                    alt="hotel awards"
                                  />
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-8bf0770 pxl-column-element-auto col-offset-none pxl-column-overflow-hidden-no"
                        data-id="8bf0770"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-widget-wrap elementor-element-populated"
                        >
                          <div
                            class="elementor-element elementor-element-9c16f47 elementor-widget__width-auto elementor-widget elementor-widget-pxl_image"
                            data-id="9c16f47"
                            data-element_type="widget"
                            data-widget_type="pxl_image.default"
                          >
                            <div class="elementor-widget-container">
                              <div
                                id="pxl_image-9c16f47-8339"
                                class="pxl-image-wg default"
                              >
                                <a href="index.html">
                                  <img
                                    width="377"
                                    height="353"
                                    src="wp-content/uploads/2024/03/awards-3.svg"
                                    class="attachment-full size-full wp-image-7975"
                                    alt="hotel awards"
                                  />
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-a286c50 pxl-column-element-auto col-offset-none pxl-column-overflow-hidden-no"
                        data-id="a286c50"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-widget-wrap elementor-element-populated"
                        >
                          <div
                            class="elementor-element elementor-element-4864998 elementor-widget__width-auto elementor-widget elementor-widget-pxl_image"
                            data-id="4864998"
                            data-element_type="widget"
                            data-widget_type="pxl_image.default"
                          >
                            <div class="elementor-widget-container">
                              <div
                                id="pxl_image-4864998-8101"
                                class="pxl-image-wg default"
                              >
                                <a href="index.html">
                                  <img
                                    width="68"
                                    height="70"
                                    src="wp-content/uploads/2024/03/awards-4.svg"
                                    class="attachment-full size-full wp-image-7976"
                                    alt="hotel awards"
                                  />
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-5e76475 col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no"
                data-id="5e76475"
                data-element_type="column"
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-25b6823 elementor-widget elementor-widget-pxl_heading"
                    data-id="25b6823"
                    data-element_type="widget"
                    data-widget_type="pxl_heading.default"
                  >
                    <div class="elementor-widget-container">
                      <div class="pxl-heading-wrap d-flex">
                        <div class="pxl-heading-inner">
                          <h3 class="heading-title">Explore</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-1d63598 pxl-links-layout-2 elementor-widget elementor-widget-pxl_links"
                    data-id="1d63598"
                    data-element_type="widget"
                    data-widget_type="pxl_links.default"
                  >
                    <div class="elementor-widget-container">
                      <ul class="pxl-links d-flex flex-column layout-2 list-unstyled" >
                        <li> <a href="/"> <span>Home</span> </a> </li>
                        <li> <a href="/single-room"> <span>Our Rooms</span> </a> </li>
                        <li> <a href="/about"> <span>About Us</span> </a> </li>
                        <li> <a href="/tariff"> <span>Tariff</span> </a> </li>
                        <li> <a href="/contact"> <span>Contact</span> </a> </li>
                        <li> <a href="/gallery"><span>Gallery</span></a> </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-7d236d5 col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no"
                data-id="7d236d5"
                data-element_type="column"
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-db5e719 elementor-widget elementor-widget-pxl_heading"
                    data-id="db5e719"
                    data-element_type="widget"
                    data-widget_type="pxl_heading.default"
                  >
                    <div class="elementor-widget-container">
                      <div class="pxl-heading-wrap d-flex">
                        <div class="pxl-heading-inner">
                          <h3 class="heading-title">Contact</h3>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div
                    class="elementor-element elementor-element-29d55af pxl-quick-contact-layout-2 elementor-widget elementor-widget-pxl_quickcontact"
                    data-id="29d55af"
                    data-element_type="widget"
                    data-widget_type="pxl_quickcontact.default"
                  >
                    <div class="elementor-widget-container">
                      <div
                        class="pxl-qc-wrap layout-2 link-hover-underline-false"
                      >
                        <div class="qc-content-wrap">
                          <div class="qc-item align-items-center">
                            <span class="my-4">{ADDRESSLINE1}</span>
                            <span>{ADDRESSLINE2}</span>
                          </div>
                          <div class="qc-item d-flex align-items-center">
                            <span class="col">
                              <a href=`tel:${PHONE1}`>Phone 1: +{PHONE1}</a><br />
                              <a href=`tel:${PHONE2}`>Phone 2: +{PHONE2}</a>
                            </span>
                          </div>
                          <div class="qc-item d-flex align-items-center">
                            <span class="col">
                              <a href=`http://www.${WEBSITE}.com/`>Web: www.{WEBSITE}.com</a><br />
                              <a href=`mailto:${EMAIL1}`>Email: {EMAIL1}</a>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
            </div>
          </section>


          <section
            class="elementor-section elementor-top-section elementor-element elementor-element-fbc8798 elementor-section-boxed elementor-section-height-default elementor-section-height-default pxl-section-static-pos-no pxl-section-overflow-hidden-no pxl-container-margin-auto-no"
            data-id="fbc8798"
            data-element_type="section"
            data-settings='{"background_background":"classic"}'
          >
            <div class="elementor-container elementor-column-gap-default">
              <div
                class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a61ba6c col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no"
                data-id="a61ba6c"
                data-element_type="column"
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-a154f1a elementor-widget elementor-widget-pxl_divider"
                    data-id="a154f1a"
                    data-element_type="widget"
                    data-widget_type="pxl_divider.default"
                  >
                    <div class="elementor-widget-container">
                      <div class="pxl-divider horizontal">
                        <div class="pxl-divider-separator"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>


          <section
            class="elementor-section elementor-top-section elementor-element elementor-element-e21f05a elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default pxl-section-static-pos-no pxl-section-overflow-hidden-no pxl-container-margin-auto-no"
            data-id="e21f05a"
            data-element_type="section"
            data-settings='{"background_background":"classic"}'
          >
            <div class="elementor-container elementor-column-gap-default">
              <div
                class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-4c6dd21 col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no"
                data-id="4c6dd21"
                data-element_type="column"
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-bea4dca pxl-socials-layout-2 elementor-widget elementor-widget-pxl_socials"
                    data-id="bea4dca"
                    data-element_type="widget"
                    data-widget_type="pxl_socials.default"
                  >
                    <div class="elementor-widget-container">
                      <div
                        class="pxl-socials-wrap layout-2 d-flex-wrap align-items-center"
                      >
                        <span class="social-title">Get Social:</span
                        ><a
                          aria-hidden="true"
                          class="social-item pxl-icon fab fa-facebook-f"
                          href="https://facebook.com/"
                          target="_blank"
                        ></a
                        ><a
                          aria-hidden="true"
                          class="social-item pxl-icon fab fa-twitter"
                          href="https://twitter.com/"
                          target="_blank"
                        ></a
                        ><a
                          aria-hidden="true"
                          class="social-item pxl-icon fab fa-instagram"
                          href="https://www.instagram.com/"
                          target="_blank"
                        ></a
                        ><a
                          aria-hidden="true"
                          class="social-item pxl-icon cmli cmli-tripadvisor"
                          href="https://www.tripadvisor.com.vn/"
                          target="_blank"
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-f61b869 col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no"
                data-id="f61b869"
                data-element_type="column"
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-b0a05c5 elementor-widget elementor-widget-pxl_text_editor"
                    data-id="b0a05c5"
                    data-element_type="widget"
                    data-widget_type="pxl_text_editor.default"
                  >
                    <div class="elementor-widget-container">
                      <div
                        id="pxl_text_editor-b0a05c5-4085"
                        class="pxl-text-editor-wrap d-flex"
                      >
                        <div class="pxl-text-editor elementor-clearfix">
                          <p>
                            © 2024 <a href=`https://www.${WEBSITE}.com` target="_blank" rel="noopener">{COMPANY}</a>, All Rights Reserved
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-43a7b36 col-offset-none pxl-column-element-default pxl-column-overflow-hidden-no"
                data-id="43a7b36"
                data-element_type="column"
              >
                <div class="elementor-widget-wrap elementor-element-populated">
                  <div
                    class="elementor-element elementor-element-af33b9c pxl-links-layout-3 elementor-widget elementor-widget-pxl_links"
                    data-id="af33b9c"
                    data-element_type="widget"
                    data-widget_type="pxl_links.default"
                  >
                    <div class="elementor-widget-container">
                      <ul class="pxl-links d-flex layout-3 list-unstyled">
                        <li>
                          <a href="/terms-condition">
                            <span>Terms of Use</span>
                          </a>
                        </li>
                        <li>
                          <a href="/terms-condition">
                            <span>Privacy Policy</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

        </div>
</footer>
<style>
	footer {
		/* padding: 2em 1em 6em 1em; */
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		/* color: rgb(var(--gray));
		text-align: center; */
	}
	
</style>
